@font-face {
    font-family: 'Shrikhand';
    src: url('fonts/Shrikhand-Regular.eot');
    src: url('fonts/Shrikhand-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Shrikhand-Regular.woff2') format('woff2'),
         url('fonts/Shrikhand-Regular.woff') format('woff'),
         url('fonts/Shrikhand-Regular.ttf')  format('truetype'),
         url('fonts/Shrikhand-Regular.svg#Shrikhand') format('svg');
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.eot');
    src: url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Regular.woff2') format('woff2'),
         url('fonts/Roboto-Regular.woff') format('woff'),
         url('fonts/Roboto-Regular.ttf')  format('truetype'),
         url('fonts/Roboto-Regular.svg#Roboto') format('svg');
}

$color-primary :#9356DC;
$color-second :#FF79DA;
$color-terth :#99E2D0;